<section class="subscribe">
  <h3>Subscribe for updates</h3>
  <p>Want more like this? Get new posts in your inbox. No spam, ever.</p>

  <form
    action="https://buttondown.com/api/emails/embed-subscribe/lmcculloch"
    method="post"
  >
    <div class="form-row">
      <div class="input-wrapper">
        <i class="fa fa-envelope"></i>
        <input
          type="email"
          name="email"
          placeholder="you@example.com"
          required
        />
      </div>
      <input type="hidden" value="1" name="embed" />
      <input type="submit" value="Subscribe" />
    </div>
  </form>
</section>
